.card {
    background-color: #f7f7f7;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.card-info {
    margin-right: 10px;
}

.card-detail {
    overflow: hidden;
    text-overflow: ellipsis;
}

.company-image-wrapper,
.company-pic {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.company-image-wrapper {
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 2px;
}

.company-pic {
    object-position: center;
    object-fit: contain;
}

.deadline {
    width: 170px;
    min-width: 170px;
    max-width: 170px;
}

.card .action {
    font-size: 20px;
    margin: auto 0;
    margin-left: auto;
    width: 65px;
    min-width: 65px;
}

.card .action a {
    padding: 5px;
    color: white;
}

.valid-btn {
    background-color: #198754;
}

.delete-btn {
    background-color: #dc3545;
}