main {
    display: flex;
    height: 100%;
}

.dashboard-sidebar {
    z-index: 1;
}

.dashboard-sidebar a {
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    color: #333;
    border-left: 3px solid #f7f7f8;
}

.dashboard-sidebar a:hover {
    cursor: pointer;
}

.dashboard-sidebar a:hover,
.dashboard-sidebar a.active {
    background-color: #f7f7f8;
    border-left: 3px solid #2a41e8;
    color: #002366;
}

.dashboard-content {
    flex: 1;
    /* background-color: black; */
    overflow-y: scroll;
    position: relative;
    height: 100%;
    background-color: #fafafa;
}

@media screen and (max-width: 550px) {
    main {
        display: block;
    }
    .dashboard-sidebar,
    .dashboard-content {
        width: 100%;
        padding: 20px;
    }
}

@media screen and (min-width: 551px) {
    .dashboard-sidebar {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        box-shadow: 0px 2px 20px 0 rgb(0, 0, 0, 0.2);
    }
}