body {
    background-image: url('../images/light-background.png');
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 1;
}

.form-img {
    text-align: center;
}

.form-img img {
    margin: 20px;
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

.form-box {
    margin: 5px;
    padding: 20px;
    width: 100%;
}

.form-input {
    margin: 20px 0;
}

h1 {
    color: white;
}

form {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

input,
#show-pwd,
#show-cpwd {
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
}

.password-field {
    display: flex;
}

input[name$="password"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

#show-pwd,
#show-cpwd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 40px;
    text-align: center;
    color: #2a41e8;
    border-left: 0;
}

#show-pwd:hover,
#show-cpwd:hover {
    background-color: #2a41e8;
    cursor: pointer;
    color: white;
}

input[type="submit"] {
    font-weight: bold;
    color: white;
    background-color: #2a41e8;
    padding: 10px;
    width: 100%;
    border: 0;
}

input[type="submit"]:hover {
    cursor: pointer;
    transition: 500ms;
    background-color: #2a41e8;
}

form a {
    color: #2a41e8;
}

form a:hover {
    font-weight: bold;
}

@media screen and (max-width: 450px) {
    .form-img img {
        min-width: 90%;
        max-width: 90%;
        min-height: 90%;
        max-height: 90%;
    }
}

@media screen and (max-width: 750px) {
    .col {
        flex: none;
        width: 100%;
    }
}